.app{ 'ng-app' => 'myApp'}
  %input{ type: 'text', ng: {model: 'yourName'}}
  Hello {{ yourName }}
  .contr{ ng: {controller: 'GreetingCtrl', model: 'some_text'}}
    =link_to "Action", '', { 'ng-click' => "respondA()"}
    .da{ng: {repeat: 'point in show_data'}}
      {{ point }}
    {{ show_data }}
    hi {{ some_text }}
    {{ fun() }}